h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Root Sans', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    background: #181c27;
}

@keyframes checking {
    from {
        border: 1px solid rgb(255 255 255 / 16%);
    }

    to {
        border: 1px solid rgb(116 166 255 / 76%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Regular.woff') format('woff');
}

@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 300;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Light.woff') format('woff');
}

@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Medium.woff') format('woff');
}

@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Bold.woff') format('woff');
}


@font-face {
    font-family: NeueFaktum;
    font-style: normal;
    font-weight: 500;
    src: local('NeueFaktum-Medium'), url('../assets/fonts/NeueFaktum-Medium.woff') format('woff');
}

@font-face {
    font-family: NeueFaktum;
    font-style: normal;
    font-weight: 600;
    src: local('NeueFaktum-SemiBold'), url('../assets/fonts/NeueFaktum-SemiBold.woff') format('woff');
}